<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body layout:fragment="content">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-10">
                <h1>Employee Form</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form id="employeeForm" method="post" th:action="@{/employee/save}" th:object="${employee}" enctype="multipart/form-data">
                    <div class="card-body">
                            <div class="form-group">
                                <label for="fullname" class="col-form-label">Fullname</label>
                                <input type="text" th:field="*{fullname}" class="form-control" id="fullname">
                                <div th:if="${#ctx.containsVariable('response')}">
                                    <p th:if="${response.status == 400  and response.detail.get('error').fullname != null}"
                                       class="error" th:text="${response.detail.get('error').fullname}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-form-label">Address</label>
                                <input type="text" th:field="*{address}" class="form-control" id="address">
                                <div th:if="${#ctx.containsVariable('response')}">
                                    <p th:if="${response.status == 400  and response.detail.get('error').address != null}"
                                       class="error" id="error-address" th:text="${response.detail.get('error').address}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="email" th:field="*{email}" class="form-control" id="email">
                                <div th:if="${#ctx.containsVariable('response')}">
                                    <p th:if="${response.status == 400  and response.detail.get('error').email != null}"
                                       class="error"  th:text="${response.detail.get('error').email}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-form-label">Phone</label>
                                <input type="text" th:field="*{phone}" class="form-control" id="phone">
                                <div th:if="${#ctx.containsVariable('response')}">
                                    <p th:if="${response.status == 400  and response.detail.get('error').phone != null}"
                                       class="error"  th:text="${response.detail.get('error').phone}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="position" class="col-form-label">Select Position</label>
                                <select class="form-control" id="position" th:field="*{positionIdList}" multiple>
                                    <option  th:unless="*{positionIdList != null}" th:each="position : ${positionList}" th:value="${position.id}" th:text="${position.title}"></option>
                                    <option th:if="*{positionIdList!= null}" th:each="position : ${positionList}" th:selected="${position.id == positionIdList}" th:value="${position.id}" th:text="${position.title}">
                                    </option>
                                </select>
                                <div th:if="${#ctx.containsVariable('response')}">
                                    <p th:if="${response.status == 400  and response.detail.get('error').position != null}"
                                       class="error"  th:text="${response.detail.get('error').position}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="department"  class="col-form-label">Select Department</label>
                                <select class="form-control" id="department" th:field="*{departmentIdList}"  multiple >
                                    <option  th:unless="*{departmentIdList != null}" th:each="department : ${departmentList}" th:value="${department.id}" th:text="${department.title}"></option>
                                    <option th:if="*{departmentIdList!= null}" th:each="department : ${departmentList}" th:selected="${department.id == departmentIdList}" th:value="${department.id}" th:text="${department.title}">
                                    </option>
                                </select>
                                <div th:if="${#ctx.containsVariable('response')}">
                                    <p th:if="${response.status == 400  and response.detail.get('error').department != null}"
                                       class="error"  th:text="${response.detail.get('error').department}"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="empImg" class="form-label">Choose image</label>
                                <input class="form-control form-control-sm" name="empImage" id="empImg" type="file">
                                <div th:if="${#ctx.containsVariable('response')}">
                                    <p th:if="${response.status == 400  and response.detail.get('error').empImage != null}"
                                       class="error"  th:text="${response.detail.get('error').empImage}"></p>
                                </div>
                            </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" id="btn-save-employee" class="btn btn-primary">Save Changes</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>