<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <fullname>Attedance</fullname>
</head>
<body layout:fragment="content">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8">
                <h1>My Punchins</h1>
            </div>

            <form th:action="@{/attendance/filter}" method="post">
                <input type="hidden" th:value="${userid}" name="id" >
                <div class="form-group">
                    <label for="date">From:</label>
                    <input type="text" class="form-control mydatepicker" id="date" name="fromDate"
                           data-date-format="yyyy/mm/dd" required>
                    <div class="input-group-addon">
                        <span class="fas fa-calendar"></span>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="date">To:</label>
                        <input type="text" class="form-control mydatepicker" id="date2" name="toDate"
                               data-date-format="yyyy/mm/dd" required>
                        <div class="input-group-addon">
                            <span class="fas fa-calendar"></span>
                        </div>

                    </div>
                <input type="submit" value="ok">

                <div class="form-group  alertSuccess" th:if="${#ctx.containsVariable('response')} and ${response.status != 200}">
                    <div class="row-mb-2">
                        <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                            <strong th:text="${response.detail.get('error').datetimeRange}">Meeting Created</strong>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" th:if="${#ctx.containsVariable('response')}">
                    <div class="card-body" th:with="data=${response.detail.get('data')}">
                        <table class="table" id="attendance-table">
                            <thead>
                            <tr>

                                <th>punchIn DateTime</th>
                                <th>PunchIn Ip</th>
                                <th>PunchOut Datetime</th>
                                <th>PunchOut Ip</th>
                                <th>Hours</th>
                            </tr>
                            </thead>
                            <tbody th:each="attendance: ${data}">
                            <tr>

                                <td th:text="${attendance.punchInDate}" class="start-date"></td>
                                <td th:text="${attendance.punchInIp}" class="cm-number"></td>
                                <td th:text="${attendance.punchOutDate}" class="end-date"></td>
                                <td th:text="${attendance.punchOutIp}" class="cm-number"></td>
                                <td th:text="${attendance.totalWorkedHours}" class="cm-number"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>