<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <fullname>AttendanceList</fullname>

</head>
<body layout:fragment="content">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8">
                <h1> Attendance </h1>
                <div th:with="userName=${response.detail.get('userName')}"><br>
                <a th:href="@{/attendance/attendancelist(page=0,id=${response.detail.get('userId')})}">[[${userName}]]</a>

                </div>
            </div>
            <div class="col-sm">

                <input type="hidden" th:value="${response.detail.get('userId')}" name="id" id="userId">
                <div class="form-group">
                    <label for="fromdate">From:</label>
                    <input type="text" class="form-control mydatepicker" id="fromDate" name="fromDate"
                           data-date-format="yyyy/mm/dd" required>
                    <div class="input-group-addon">
                        <span class="fas fa-calendar"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="todate">To:</label>
                    <input type="text" class="form-control mydatepicker" id="toDate" name="toDate"
                           data-date-format="yyyy/mm/dd" required>
                    <div class="input-group-addon">
                        <span class="fas fa-calendar"></span>
                    </div>

                </div>


                <input type="button" onclick="filter()" th:value="Ok">


                <div class="form-group  alertSuccess"
                     th:if="${#ctx.containsVariable('response')} and ${response.status != 200}">
                    <div class="row-mb-2">
                        <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                            <strong th:text="${response.detail.get('error').datetimeRange}">Meeting Created</strong>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" th:if="${#ctx.containsVariable('response')}">
                    <div class="card-body" th:with="data=${response.detail.get('data')}">

                        <table class="table" id="attendance-table">
                            <thead>
                            <tr>

                                <th>punchIn DateTime</th>
                                <th>PunchIn Ip</th>
                                <th>PunchOut Datetime</th>
                                <th>PunchOut Ip</th>
                                <th>Hours</th>
                            </tr>
                            </thead>
                            <tbody th:each="attendance: ${data}">
                            <tr>

                                <td th:text="${attendance.punchInDate}" class="start-date"></td>
                                <td th:text="${attendance.punchInIp}" class="cm-number"></td>
                                <td th:text="${attendance.punchOutDate}" class="end-date"></td>
                                <td th:text="${attendance.punchOutIp}" class="cm-number"></td>
                                <td th:text="${attendance.totalWorkedHours}" class="cm-number"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" th:if="${response.status == 200}" th:with="totalPages=${response.detail.get('totalPages')},currentPage=${response.detail.get('currentPage')}
         ,fromDate=${response.detail.get('fromDate')},toDate=${response.detail.get('toDate')},userId=${response.detail.get('userId')}">

        <nav th:if="${response.detail.get('noDateFilterFlag')}" aria-label="Page navigation example">


            <ul class="pagination">
                <li th:if="${currentPage !=0}" class="page-item">
                    <a class="page-link" th:href="@{/attendance/attendancelist(page= ${currentPage}-1,id=${userId})}">Previous</a>
                </li>

                <li th:each="i:${#numbers.sequence(1,totalPages)}" th:classappend="${currentPage==i-1 ? 'active' : '' }"
                    class="page-item">
                    <a class="page-link" th:href="@{/attendance/attendancelist(page= ${i}-1,id=${userId})}">[[${i}]]</a>
                </li>

                <li th:if="${currentPage+1!=totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/attendance/attendancelist(page= ${currentPage+1},id=${userId})}">Next</a>
                </li>
            </ul>
        </nav>


        <nav th:if="${!response.detail.get('noDateFilterFlag')}"
             aria-label="Page navigation example">
            <p style="color: #2dbc4e">Filtered By Date </p>

            <ul class="pagination">
                <li th:if="${currentPage !=0}" class="page-item">
                    <a class="page-link"
                       th:href="@{/attendance/dateFilter2(page=${currentPage}-1,fromDateString=${fromDate},toDateString=${toDate},id=${userId})}">Previous</a>
                </li>

                <li th:each="i:${#numbers.sequence(1,totalPages)}" th:classappend="${currentPage==i-1 ? 'active' : '' }"
                    class="page-item">
                    <a class="page-link"
                       th:href="@{/attendance/dateFilter2(page=${i}-1,fromDateString=${fromDate},toDateString=${toDate},id=${userId})}">[[${i}]]</a>
                </li>

                <li th:if="${currentPage+1!=totalPages}" class="page-item">
                    <a class="page-link"
                       th:href="@{/attendance/dateFilter2(page=${currentPage}+1,fromDateString=${fromDate},toDateString=${toDate},id=${userId})}">Previous</a>
                </li>
            </ul>
        </nav>


    </div>

</section>
<script type="text/javascript">

    function filter() {
        var fromDate = document.getElementById("fromDate").value;
        var toDate = document.getElementById("toDate").value;
        var userid = document.getElementById("userId").value;
        var page = 0;
        window.location.href = "/attendance/dateFilter/?page=" + page + "&fromDate=" + fromDate + "&toDate=" + toDate + "&id=" + userid;

    }


</script>

</body>
</html>