<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-5">


            </div>
        </div>
    </div>

</section>

<section class="content">
    <div class="container p-0 m-0">
        <div class="row">
            <div class="col-md-12">
                <div class="card" th:if="${#ctx.containsVariable('response')}">

                <div class="card-body" th:with="data=${response.detail.get('data')}">

                        <table class="table" id="attendance-table">
                            <thead>
                            <tr>
                                <th th:if="${response.detail.get('allUserAttendanceFlag')}">Username</th>
                                <th>punchIn DateTime</th>
                                <th>PunchIn Ip</th>
                                <th>PunchOut Datetime</th>
                                <th>PunchOut Ip</th>
                                <th>Hours</th>
                            </tr>
                            </thead>
                            <tbody th:each="attendance: ${data}">
                            <tr>
                                <td th:if="${response.detail.get('allUserAttendanceFlag')}" th:text="${attendance.user.username}"  class="start-date"></td>
                                <td th:text="${attendance.punchInDate}" class="start-date"></td>
                                <td th:text="${attendance.punchInIp}" class="cm-number"></td>
                                <td th:text="${attendance.punchOutDate}" class="end-date"></td>
                                <td th:text="${attendance.punchOutIp}" class="cm-number"></td>
                                <td th:text="${attendance.totalWorkedHours}" class="cm-number"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" th:if="${response.status == 200}" th:with="totalPages=${response.detail.get('totalPages')},currentPage=${response.detail.get('currentPage')}">
      <input type="hidden" th:value="${response.detail.get('noDateFilterFlag')}" id="noDateFilterFlag">
        <nav  aria-label="Page navigation example">

            <ul class="pagination" sec:authorize="hasRole('SUPER_ADMIN')" >
                <li th:if="${currentPage !=0}" class="page-item">
                    <a class="page-link" th:onclick="paginationAdmin([[${currentPage-1}]])" >Previous</a>
                </li>

                <li th:each="i:${#numbers.sequence(1,totalPages)}" th:classappend="${currentPage==i-1 ? 'active' : '' }"
                    class="page-item">
                    <a class="page-link" th:onclick="paginationAdmin([[${i-1}]])">[[${i}]]</a>
                </li>

                <li th:if="${currentPage+1!=totalPages}" class="page-item">
                    <a class="page-link" th:onclick="paginationAdmin([[${currentPage+1}]])">Next</a>
                </li>
            </ul>
        </nav>
        <ul class="pagination" sec:authorize="!hasRole('SUPER_ADMIN')" >
            <li th:if="${currentPage !=0}" class="page-item">
                <a class="page-link" th:onclick="paginationNormal([[${currentPage-1}]])" >Previous</a>
            </li>

            <li th:each="i:${#numbers.sequence(1,totalPages)}" th:classappend="${currentPage==i-1 ? 'active' : '' }"
                class="page-item">
                <a class="page-link" th:onclick="paginationNormal([[${i-1}]])">[[${i}]]</a>
            </li>

            <li th:if="${currentPage+1!=totalPages}" class="page-item">
                <a class="page-link" th:onclick="paginationNormal([[${currentPage+1}]])">Next</a>
            </li>
        </ul>
        </nav>

    </div>

</section>
<script type="text/javascript">



</script>
<script type="text/javascript" th:src="@{/js/hrm/attendance.js}"></script>



</html>