<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Meeting</title>
</head>
<body layout:fragment="content">

<section class="content">
    <div class="container">
        <h1>Meeting Detail</h1>
        <div class="row">
            <div class="col-md-12">
             <div class="card">
                    <div class="card-body">

                        <p class="card-text text-bold" id="title" th:text="${Minute.title}"></p>

                        <label for="minute">Minute</label>
                        <p class="card-text" id="minute" th:utext="${Minute.minutes}"></p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section></section>


<script>
    CKEDITOR.replace('minutes');
</script>
</body>
</html>