<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Meeting</title>
</head>
<body layout:fragment="content">

<section class="content">
    <div class="container">
        <h1>Meeting Detail</h1>
        <div class="col">

            <div class="card">
                <div class="card-body ">
                    <div class="form-group">

                        <div class="form-group row ">
                            <label for="title" style="color:#1d455b">Title:</label>
                            <p class="card-text text-bold " id="title" th:text="${minute.title}"></p>
                        </div>


                    </div>
                    <div class="form-group row">
                        <label for="meeting date" style="color:#1d455b">Date:</label>
                        <p class="card-text" id="meeting date"
                           th:text="${#dates.format(minute.meetingDate, 'dd/MM/yyyy')}"></p>

                    </div>
                    <div class="form-group row">
                        <label for="createdBy" style="color:#1d455b">CreatedBy:</label>
                        <p class="card-text" id="createdBy" th:utext="${minute.createdBy.username}"></p>

                    </div>


                    <div class=" form-group ">
                        <label for="attendance-table" style="color:#1d455b">Attended By</label>
                        <table class="table border" id="attendance-table" th:with="attendedby=${minute.attendedBy}">

                            <tbody th:each="attendedby,iStat: ${attendedby}">
                            <tr>
                                <td th:text="${iStat.current.username}" class="cm-number"></td>
                            </tr>

                            </tbody>
                        </table>


                    </div>
                    <div class="form-group custom-card-layout  ">
                        <label for="minute" style="color:#1d455b">Minute</label>
                        <p class="card-text " id="minute" th:utext="${minute.minutes}"></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section></section>


<script>
    CKEDITOR.replace('minutes');
</script>
</body>
</html>