<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Hello</h1>
    <h3>Static content for prototyping purposes only</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit.
    </p>
</div>
</body>
</html>