<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-4">

                    <a th:if="${attendanceBtn.equals('PUNCHIN')}" th:href="@{/attendance/punchIn}">
                        <button  class="btn btn-primary btn-sm mr-5 pull-right">PunchIn</button>
                    </a>


                    <a th:if="${attendanceBtn.equals('PUNCHOUT')}" th:href="@{/attendance/punchOut}">
                        <button class="btn btn-danger btn-sm mr-2">PunchOut</button>
                    </a>

                </div>
            </div>
        </div>
    </section>
    <section class="content">
<h1>Welcome to makalu HRM</h1>
    </section>
</body>
</html>